@use "../../styles/style.scss" as *;

// 팝업 관련 스타일
/* popupOverlay */
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  }

/* popupContent */
.popupContent {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: rem(1000);
  padding: rem(12) rem(12) rem(36);
  text-align: center;
  background: white;
  border-radius: rem(12);
  transform: translate(-50%, -50%);
  .content {
    height: rem(680);
    overflow-y: scroll;
    img{width: 100%;}
    }
  > button {
    position: absolute;
    top: rem(16);
    right: rem(40);
    width: rem(36);
    height: rem(36);
    background-color: $main-white;
    background-image: url("../../assets/images/icons/ico_close.png");
    background-size: rem(36) rem(36);
    border-radius: 50%;
    cursor: pointer;
    }
  }
