@use "../../styles/style.scss" as *;

.ui-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(16);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
  max-width: 1280px;
  margin: 0 auto;
  font-size: rem(28);

  &-md { padding: rem(36) rem(24); }
  &-lg { padding: rem(40) rem(32); }

  .logo a {
    font-family: "Bagel fat one";
    color: $main-blue;
    }
  .storybook-link {
    display: inline-flex;
    align-items: center;
    gap: rem(6);
    padding: rem(8) rem(16);
    font-size: rem(14);
    font-weight: 700;
    color: $main-black;
    background: $main-white;
    // border: rem(1) solid $main-black;
    border-radius: rem(28);
    transition: transform .2s ease;

    flex-shrink: 0;

    &:hover {
      transform: translateY(-4px);
      }
    }

  .storybook-mark {
    display: grid;
    width: rem(24);
    height: rem(24);
    font-size: rem(16);
    font-weight: 700;
    color: $main-white;
    background: #ff4785;
    border-radius: rem(4);

    place-items: center;
    }
  }







@media (max-width: 767px) {
  .ui-header {
    &-md { padding: rem(24); }
    &-lg { padding: rem(36) rem(28); }
    }
  .storybook-link {
    gap: rem(8);
    padding: rem(6) rem(12);
    font-size: rem(14);
    background: none !important;
    }
  .storybook-name { display: none; }

  }

@media (max-width: 479px) {
  .ui-header {
    gap: rem(8);
    font-size: rem(24);

    &-md { padding: rem(20) rem(16); }
    }

  }
