@use "../../styles/style.scss" as *;

.ui-badge {
  display: inline-block;

  /** variant **/

  &-line {
    color: $main-white;
    background-color: transparent !important;
    border: 1px solid $main-white;
    }

  /** bgColor **/
  &-navy {
    color: $main-white;
    background-color: #160b43;
    }
  &-pink {
    color: $main-white;
    background-color: #fa9dcd;
    }
  &-transparent {
    color: $main-black;
    background-color: transparent;
    border: 1px solid $main-black;
    }

  /** color **/

  /** size **/
  &-sm {
    padding: rem(2) rem(4);
    font-size: rem(12);
    // margin-left: 8px;
    border-radius: rem(2);
    }
  &-sm + &-sm {margin-left: rem(8);}
  &-md {
    margin-left: rem(8);
    padding: rem(4) rem(8);
    font-size: rem(14);
    border-radius: rem(4);
    }
  }

@media (max-width: 767px) {
  .ui-badge{
    &-md {
      margin-left: rem(4);
      padding: rem(4);
      font-size: rem(12);
      border-radius: rem(2);
      }
    }
  }