@use "../../styles/style.scss" as *;

.swiper {
  overflow: visible !important;
  &-custom{
    display: none !important;
    }
  }


// 데스크탑 1280px ~
.slideItem {
  // width: rem(740);
  padding: rem(30) rem(40);
  background-color: #ccc !important;
  border: rem(3) solid $main-black;
  border-radius: rem(40);

  box-sizing: border-box;
  button {
    position: relative;
    padding: 0;
    background: none;
    border-radius: rem(28);
    overflow: hidden;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .3);
      opacity: 0;
      transition: opacity .8s ease;
      pointer-events: none;
      }
    &:hover::before {
      opacity: 1;
      }
    // &:hover > img {
    //   transform: scale(1.2);
    // }
    }
  img {
    display: block;
    width: rem(650);
    height: rem(380);
    background: #eee;
    border-radius: rem(28);
    transition: transform .8s ease;

    object-fit: cover;
    }
  h3 {
    margin-top: rem(12);
    font-family: "tenada";
    font-size: rem(48);
    // @include fontSize(48px, 500);
    letter-spacing: rem(-.8);
    & + p {
      font-family: "tenada";
      font-size: rem(36);
      }
    }
  }

/* 모바일 세로 (0px ~ 320px, 479px) */
@media (max-width: 479px) {
  .slideItem {
    padding: rem(28) rem(16);
    img {
      width: 80vw;
      height: rem(250);
      }
    h3 {
      font-size: rem(30);
      & + p {
        font-size: rem(20);
        }
      }
    }
  }

/* 모바일 가로 & 테블릿 세로 (480px ~ 767px) */
@media (min-width: 480px) and (max-width: 767px) {
  .slideItem {
    padding: rem(28) rem(24);
    img {
      width: 54vw;
      height: rem(340);
      }
    h3 {
      font-size: rem(36);
      & + p {
        font-size: rem(24);
        }
      }
    }
  }

/* 테블릿 가로 (768px ~ 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    .slideItem {
      img {
        width: 54vw;
        }
      h3 {
        font-size: rem(40);
        & + p {
          font-size: rem(32);
          }
        }
      }

    }
  }


/* 테블릿 가로 & 노트북 (1024px ~ 1279px) */
@media (min-width: 1024px) and (max-width: 1279px) {
  body {
    .slideItem {
      img {
        width: 54vw;
        }
      h3 {
        font-size: rem(40);
        & + p {
          font-size: rem(32);
          }
        }
      }
    }
  }

// UISwiper.Box slide bgColor
.ui-swiper-red {background-color: #e41201 !important;}
.ui-swiper-yellow {background-color: #fed500 !important;}
.ui-swiper-gray {background-color: #bebebe !important;}
.ui-swiper-navy {background-color: #106aa6 !important;}
.ui-swiper-green {background-color: #35b659 !important;}
.ui-swiper-brown {background-color: #766554 !important;}
.ui-swiper-yellowgreen {background-color: #bbda41 !important;}

// UITitleColor
.ui-title-color-purple {color: #5815a5;}
.ui-title-color-green {color: #0c5b00;}
.ui-title-color-black {color: $main-black;}
// .ui-title-color-blue {color: #0067AC;}
.ui-title-color-yellow {color: #ffc20d;}
.ui-title-color-white {color: $main-white;}